@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 10s linear infinite;
  --animate-infinite-loading: infinite-loading 1.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  @keyframes infinite-loading {
    0% {
      transform: translateX(-120%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(120%);
    }
  }
}
